/*===============*/

.body {
    background-color: white;
    margin: 0;
    padding:0;
    
}

.center-header {
    text-align: center;
}

.divider{
    border-top: 2px white;
    height:10px;
}


.header {
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;  
}

nav a:hover,
nav a:active {
    outline: 2px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: inline block;
    text-decoration: none;
    padding: 10px 60px;
    color: black;
    border-radius: 5px;
    width: 100px;
}


.footer {
    padding-top: 100px;
    background-color: white;
    grid-area: ft;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.footer-layout {
    display: flex;
    padding: 2px;
    align-items: center;  
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    margin-left: 9px;
}

.footer-divider {
    border-top: 2px white;
    height: 70px;
}



